@import url('./index.css');

div.formbox {
  flex: 2;
  padding: 2vw;
  box-shadow: 0 0 12px rgba(51, 51, 51, 0.4);
}

form.formbody {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-spacer {
  margin-bottom: 20px;
}

form.formbody > textarea {
  resize: none;
  height: 40vh;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
  .formbox {
    max-width: 65vw;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}